body {
	margin: 0;
	height: 100vh;
	width: 100vw;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%, 100%;

  z-index: -1;
  pointer-events: none;
}

#canvas-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas{
	display: block;
}
